# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.nav
*.snm
*.bcf
*.xdv
__pycache__/
*.pyc


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Ignora esperimenti e roba non finita
complex-systems-next-steps/

# Ignora cartella con materiale protetto da copyright
slides_and_others

#Ignora Claude files
CHANGES.md
CLAUDE.md              
NOTES.md

notes_raw

REVIEW_2026-09-06.md
AGENTS.md
StyleMD/
